/* Basic Styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(21, 82, 99, 255);
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin: 50px 0px 50px 0px;
  text-transform: uppercase;
  font-size: 50px;
}
img {
  position: relative;
  width: 20%;
  margin: 35px 0px;
}

.div1 {
  font-family: "Times New Roman";
  font-size: 55px;
  font-weight: bold;
  margin: auto;
  width: 40%;
  padding: 0px 20px;
}

.div2 {
  font-size: 20px;
  margin: auto;
  width: 36%;
  padding: 40px;
  line-height: 1.5;
}

.button {
  background-color: rgba(198, 105, 18, 255);
  border: none;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 35px 0px 30px 0px;
}

video {
  margin: auto;
  width: 75%;
  height: auto;
  border-radius: 30px;
}

.div3 {
  font-size: 20px;
}

.div3 h1 {
  font-family: "Times New Roman";
  font-size: 75px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 50px 0px 20px 0px;
}

.div3 table {
  margin: 70px auto;
}

.div3 img {
  width: 550px;
  height: 550px;
  border-radius: 30px;
  margin: auto 30px;
}

.div4 {
  font-size: 20px;
}

.div4 h1 {
  font-family: "Times New Roman";
  font-size: 75px;
  text-transform: capitalize;
  margin: 50px 0px 20px 0px;
}

.div4 table {
  margin: 50px auto;
}

.div4 img {
  width: 30px;
  margin: 20px auto;
}

.card {
  background-color: #f9b577;
  font-weight: lighter;
  font-size: 18px;
  margin: 20px;
  padding: 30px;
  width: 500px;
}

.card p {
  margin-top: 20px;
  line-height: 2.5ch;
}

.div5 {
  background-color: transparent;
  margin: auto;
  padding: auto;
}

.div5 img {
  width: 40%;
  float: right;
  margin-bottom: 7%;
}

.text {
  font-size: 30px;
  width: 50%;
  padding-left: 10%;
  padding-top: 20%;
  float: left;
}

.author {
  font-size: 18px;
  margin-top: 30px;
  font-weight: lighter;
}

.div6 {
  font-family: "Times New Roman";
  font-size: 30px;
  background-color: #fff;
  color: #000;
  margin: auto;
  padding: 25px;
  width: 90%;
  clear: both;
}

.div6 p {
  font-weight: bold;
  margin: 0px 0px 20px 0px;
}

.div6 table {
  width: 100%;
  border-collapse: collapse;
}

.div6 table,
.div6 th,
.div6 td {
  border: 2px solid blue;
  padding: 8px;
  font-size: 20px;
}

.div6 td {
  text-align: left;
}
